# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DiscordBot.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\iseba\RiderProjects\DiscordBot\.idea\.idea.DiscordBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
